/dist/
/UPOCarAuto/build/
/UPOCarAuto_NotificacionWS/nbproject/private/
/UPOCarAuto_NotificacionWS/build/
/UPOCarAuto_InformeWS/nbproject/private/
/UPOCarAuto_InformeWS/build/
/UPOCarAuto_InformeWS/dist/