/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-may-2025, 18:21:20
    Author     : marin
*/
/* Colores base */
:root {
    --color-rojo: #c0392b;
    --color-negro: #1c1c1c;
    --color-blanco: #ffffff;
    --color-gris-claro: #f2f2f2;
    --color-gris: #949494;
}

/* Estilos globales */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--color-blanco);
    color: var(--color-negro);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: var(--color-rojo);
}

/* Header y footer */
header, footer {
    background-color: var(--color-gris-claro);
    color: var(--color-negro);
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    font-size: 0.9rem;
}

/* Carousel */
.carousel img {
    object-fit: cover;
    height: 600px;
}

.btn-rojo, input.btn-rojo {
    background-color:var(--color-gris);
    color: var(--color-blanco);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-rojo:hover, input.btn-rojo:hover{
    background-color: #a93226;
    color: var(--color-blanco);
}
