[Unit]
Description=XAMPP
After = syslog.target network.target

[Service]
ExecStart=/opt/lampp/bin/mysql.server start
ExecStop=/opt/lampp/bin/mysql.server stop
Type=forking

[Install]
WantedBy=multi-user.target

