[Unit]
Description = GlassFish Server v4.1.1
After = syslog.target network.target

[Service]
ExecStart=/opt/glassfish4/bin/asadmin start-domain
ExecReload=/opt/glassfish4/bin/asadmin restart-domain
ExecStop=/opt/glassfish4/bin/asadmin stop-domain
Type = forking

[Install]
WantedBy = multi-user.target

